<section class="bg-primary" id="description">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">樱桃沙盘</h2>
                <hr class="light">
                <p class="text-faded">
                    樱桃沙盘是一款完整的供应链沙盘模拟系统，涵盖原材料采购，生产，仓储，物流，合同签订，订单交接，市场推广，终端销售等一些列环节。
                </p>
                <p class="text-faded">
                    在樱桃沙盘中，可以自由的选择供应链上，中，下游的企业进行实战经营，自由灵活的系统可以最大限度的还原公司经营中可能遇到的一切挑战。让您最大限度的体验供应链管理和优化的一切。
                </p>
                <p class="text-faded">
                    培养学生灵活运用数据进行供应链决策的能力，采用“教、学、练”结合的模式夯实学生知识基础，强化学生供应链专业技能，培养建模思维，提升团队合作和沟通协调能力，促进教学相长，本软件的开发对培养智能时代下供应链人才具有重要意义。
                </p>
                <a href="#feature" class="btn btn-default btn-xl page-scroll">软件特点</a>
            </div>
        </div>
    </div>
</section>