<section id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">特点</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-random wow bounceIn text-primary"></i>
                    <h3>随机性</h3>
                    <p class="text-muted">市场与环境随机生成<br/>减少套路，强调实力</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-cubes wow bounceIn text-primary"></i>
                    <h3>整体性</h3>
                    <p class="text-muted">维护战略关系，控制资金和投资分配<br/>培养系统思维能力</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-code-branch wow bounceIn text-primary"></i>
                    <h3>差异性</h3>
                    <p class="text-muted">可以在经营内容、产品设计和经营选址等方面进行差异化竞争</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-project-diagram wow bounceIn text-primary"></i>
                    <h3>多样性</h3>
                    <p class="text-muted">销售商，代理商，制造商，三种不同的公司，完整了解供应链</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-skull-crossbones wow bounceIn text-primary"></i>
                    <h3>淘汰竞争</h3>
                    <p class="text-muted">多家企业参与竞争<br/>距离破产永远只有18个月</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake wow bounceIn text-primary"></i>
                    <h3>交流配合</h3>
                    <p class="text-muted">多家公司之间需要协同合作，才能实现双赢</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-lightbulb wow bounceIn text-primary"></i>
                    <h3>仿真模拟</h3>
                    <p class="text-muted">涵盖完整的上中下游供应链<br/>通过严谨的公式运算进行模拟仿真</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-file-word wow bounceIn text-primary"></i>
                    <h3>完善的说明文档</h3>
                    <p class="text-muted">内置详细的使用、操作、战略和决策思路的文档，培养自我学习的能力</p>
                </div>
            </div>
        </div>
    </div>
</section>
