<section class="bg-primary" id="version">
  <div class="container text-center">

    <div class="call-to-action">
      <h2 class="section-heading">多种版本可供选择</h2>
      <hr class="light">
      <p class="text-faded">
        为了满足多样化的需求，软件提供多种版本。既有可以简单体验基本经营流程的单机版，也有功能非常丰富的豪华版。
      </p>
    </div>

    <div class="table-responsive">
      <table class="table">
        <tr>
          <th style="border-top: none;text-align: center;"> </th>
          <th style="border-top: none;text-align: center;">单机版</th>
          <th style="border-top: none;text-align: center;">标准版</th>
          <th style="border-top: none;text-align: center;">豪华版</th>
        </tr>
        <tr>
          <td>是否免费</td>
          <td>&#10004;</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>销售商经营流程</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>代理商经营流程</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>制造商经营流程</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>玩家之间的合同签订</td>
          <td>-</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>玩家之间的邮件系统</td>
          <td>-</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>玩家之间的企业关系维护</td>
          <td>-</td>
          <td>&#10004;</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>垄断型商业环境模拟</td>
          <td>-</td>
          <td>-</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>单一供应商商业环境模拟</td>
          <td>-</td>
          <td>-</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>生产制造的细节操控</td>
          <td>-</td>
          <td>-</td>
          <td>&#10004;</td>
        </tr>
        <tr>
          <td>定位</td>
          <td>完整体验经营流程</td>
          <td>专业教学，商业培训</td>
          <td>深入挖掘专业知识</td>
        </tr>
      </table>
    </div>

    <div class="call-to-action">
      <a href="#" class="btn btn-default btn-xl wow tada">点击下载单机版（暂时没有链接）</a>
    </div>

  </div>
</section>
