<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">菜单</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">樱桃沙盘</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#description">说明</a>
                </li>
                <li>
                    <a class="page-scroll" href="#feature">特点</a>
                </li>
                <li>
                    <a class="page-scroll" href="#version">版本</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">咨询</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
